/*This is the css styling for the find trails app.  Written by Leo Janas. */
body{
    background-color: #aff9c9;
    margin: 0px;
}
h1,h2,h3{
    text-align: center;
}
h2{
    background-color: #2a4d14;
    color: #aff9c9;
}
h3{
    padding: 0 0 10px 0;
    margin: 0px;
}
img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
legend{
    font-size: 18px;
    font-weight: bold;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
section{
    margin: 0 auto;
}
li{
    margin: 0 0;
}
input[type = "text"]{
    background-color: #7cf0bd;
    margin: 0 0 10px 0;
}
form{
    padding: 15px;
    border: solid #2a4d14 3px;
    margin: 0px auto;
    border-radius: 50px;
    background-color: #317b22;
    color: #7cf0bd;
    width: 70%;
}
button{
    margin: 20px 0px;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid #2a4d14 2px;
    background-color: #7cf0bd;
}
header{
    background-color: #7cf0bd;
    color: #2a4d14;
    margin: 0px;
}
footer{
    text-align: center;
    width: 100%;
    bottom: 0px;
    color: #2a4d14;
}
fieldset{
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.item{
    margin: 0 5px;
}
.bottom{
    margin: 10px 0 0 0;
}
.search{
    width: 120px;
}
.large{
    flex: 2 1 0;
}
#city{
    width: 100px;
}
#state{
    width: 20px;
}
#zip{
    width: 40px;
}
#address{
    width: 90%;
}
#number{
    width: 30px;
}
#distance,#max-length,#min-length,#max-climb,#min-climb{
    width: 60px;
}
#help{
    margin: 20px auto 0 auto;
    justify-self: center;
}
.hidden{
    display: none;
}
.map{
    height: 200px;
    padding: 10px;
    flex-basis: 200px;
    align-self: stretch;
}
#results{
    background-color: #7cf0bd;
}
.lines{
    display: block;
}
.left-label{
    display: block;
    text-align: left;
    width: 140px;
}
#info-screen{
    padding: 20px;
    color: #2a4d14;

}
.desktop{
    display: none;
}
@media (min-width: 750px){
    .desktop{
        display: block;
        flex-basis: 250px;
    }
}
@media (min-width: 500px){
    .container{
        flex-direction: row;
    }
    #help{
        flex-basis: 80px;
    }
    form{
        margin: 0 auto;
        width: 360px;
    }
    .left-label{
        display: inline-block;
        text-align: right;
        width: 205px;
    }
    .lines{
        display: inline-block;
    }
}
