h1{
    text-align: center;
}
.group{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 500px){
    .group{
        flex-direction: row;
    }
}
.item{
    justify-content: space-around;
    margin: 10px;
}
#state{
    width: 20px;
}
#zip{
    width: 50px;
}
#number{
    width: 30px;
}
#distance,#max-length,#min-length,#max-climb,#min-climb{
    width: 60px;
}
.hidden{
    display: none;
}
.map{
    height: 200px;
    width: 200px;
}